@model IEnumerable<assignment1.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<button>
    <a asp-action="Create">Add Student</a>
</button>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>  &nbsp;
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
